<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerPortion}}
</head>

<body>

    {{>navbar}}
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/grid.jpg" alt="aman" class="img-fluid" title="amank">
                        </figure>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h3>This is build from <span class="text_clr">NodeJS</span></h3>
                        <a href="https://drive.google.com/file/d/1EkzbTAjfG4zSclfCNKok21vgQfKTiZ0k/view?usp=drive_web" target="_blank"><button>Quiz App</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
        <!-- footer -->
        {{>footer}}
</body>

</html>