<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerPortion}}
</head>

<body>

    {{>navbar}}
    <div>
        <figure>
            <img src="images/errorimg.jpg" alt="error" class="error_class">
            <a href="/" class="back_button" target="_blank"><button>Go Back</button></a>
        </figure>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>